# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

ex/ex00/ex00
ex/ex01/ex01
ex/ex02/ex02
ex/ex03/ex03
ex/ex04/ex04
ex/ex05/ex05
ex/ex06/ex06
ex/ex07/ex07
ex/ex08/ex08
ex/ex09/ex09
ex/ex10/ex10
ex/ex11/ex11
ex/ex12/ex12
ex/ex13/ex13
ex/ex14/ex14
ex/ex15/ex15
